<template name="about">
  <section id="about-page" class="sr-containers">
    <div class="container my-auto">
      <div class="row">
        <div class="col-10 mx-auto text-center">
          <h4 class="display-4 text-shadow">About</h4>
          <hr/>
        </div>
        <!--For large screen devices-->
        <div class="col-md-8 mx-auto d-none d-md-block">
          <p class="lead">I recognize the stress and expense associated in finding a smart, friendly lawyer to help you with all your legal needs, whether it is selling or buying a property or representing your needs in litigation. My aim is to provide you with quality, cost effective, practical, progressive and timely legal service.</p>
          <p class="lead">My experience and education has equipped me with a foundation of skills and attributes that will help me cater to your individual needs and to efficiently guide you through each legal concept and procedure in a straightforward and non-technical manner.</p>
          <p class="lead">My job is to show you just how accessible and understandable the law can be. My practice focuses on assisting you in your time of need. My goal is to ensure my legal advice is provided in a practical, timely and cost effective method.</p>
          <p class="lead">Being involved in the litigation can be very stressful. My objective is to help ease my clients' stress and help them through this demanding legal process while achieving a positive resolution on their behalf. I treat the client as a person, rather than as a file and care about the client and not just the matter.</p>
          <p class="lead">I am fluent in English, Punjabi, Hindi and Urdu.</p>
        </div>
        <div class="col-md-4 mx-auto d-none d-md-block">
          <img src="/headshots/Headshot.jpg" class="img img-fluid img-thumbnail px-2 py-2 sr-images" width="400" alt="Manpreet Kaur's Picture" />
          <h4 class="text-center">Manpreet Kaur<br/><small><em>L.L.B</em>, <em>L.L.M</em></small></h4>
          <ul class="list-inline text-center mt-3">
            <li><a href="https://ca.linkedin.com/in/manpreet-kaur-3405786b"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
        <!--End for Large screen Devices-->
        <!--For smaller devices-->
        <div class="col-sm-8 mx-auto d-md-none">
          <img src="/headshots/Headshot.jpg" class="mx-auto img img-thumbnail px-2 py-2 sr-images" width="400" alt="Manpreet Kaur's Picture" />
          <h4 class="text-center">Manpreet Kaur<br/><small><em>L.L.B</em>, <em>L.L.M</em></small></h4>
          <ul class="list-inline">
            <li><a href="https://ca.linkedin.com/in/manpreet-kaur-3405786b"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
        <div class="col-sm-12 d-md-none">
          <p class="lead">I recognize the stress and expense associated in finding a smart, friendly lawyer to help you with all your legal needs, whether it is selling or buying a property or representing your needs in litigation. My aim is to provide you with quality, cost effective, practical, progressive and timely legal service.</p>
          <p class="lead">My experience and education has equipped me with a foundation of skills and attributes that will help me cater to your individual needs and to efficiently guide you through each legal concept and procedure in a straightforward and non-technical manner.</p>
          <p class="lead">My job is to show you just how accessible and understandable the law can be. My practice focuses on assisting you in your time of need. My goal is to ensure my legal advice is provided in a practical, timely and cost effective method.</p>
          <p class="lead">Being involved in the litigation can be very stressful. My objective is to help ease my clients' stress and help them through this demanding legal process while achieving a positive resolution on their behalf. I treat the client as a person, rather than as a file and care about the client and not just the matter.</p>
          <p class="lead">I am fluent in English, Punjabi, Hindi and Urdu.</p>
        </div>
        <!--End for smaller devices-->

        <div class="col-sm-12 col-md-8 mt-2">
          <hr/>
          <p class="lead">We speak every language. MKG Law has interpreters of every language readily
            available to help you communicate with us.</p>
          <p class="lead">We represent clients who live in a range of cities including Brampton, Mississauga,
            Toronto, Hamilton, and the surrounding communities such as Vaughan,
            Woodbridge, Markham, Milton, Guelph, Acton, Ajax, Pickering, Scarborough,
            Oakville, Burlington, and Stoney Creek, and other communities within the southern
            area of Ontario.</p>
        </div>
      </div>
    </div>
  </section>
</template>
