<template name="practices">
  <section id="practices-page">
    <div class="container my-auto">
      <div class="row">
        <div class="col-10 mx-auto">
          <h4 class="heading-font display-4 text-shadow text-center">
            Areas of Practice
          </h4>
          <hr />
        </div>
      </div>
    </div>
  </section>

  <section id="nav-areas-practice" class="sr-containers">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" href="#real-estate-law">Real Estate Law</a>
      </li>
    </ul>
  </section>

  <section id="real-estate-law" class="sr-containers">
    <div class="container my-auto">
      <div class="row">
        <div class="col-sm-12 col-md-6 mx-auto my-4 text-center">
          <h2 class="section-heading my-5">Real Estate Law</h2>
          <ul class="list-unstyled d-none d-md-block">
            <li class="item">Residential</li>
            <li class="item">Commercial</li>
            <li class="item">Refinancing</li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-6">
          <p class="text-logo-blue lead">
            Buying or selling a home is an exciting and stressful time. MKG Law
            can assist you in every aspect of your purchase. Whether you are
            buying and/or selling a Residential Property, a Commercial property,
            or simply refinancing your property, MKG Law is there to help.
          </p>
          <p class="text-logo-blue lead">
            MKG Law can help with numerous matters that arise when you purchase,
            sell or mortgage real estate. Whether it is a residential,
            investment, recreational or commercial property, MKG Law is
            dedicated to providing our clients with excellent legal service.
          </p>
          <p class="text-logo-blue lead">Our Real Estate practice includes:</p>
          <ul class="text-logo-blue lead">
            <li class="item">Buying and selling property</li>
            <li class="item">Mortgages</li>
            <li class="item">Refinancing</li>
            <li class="item">Power of sale and foreclosure</li>
            <li class="item">Commercial leasing</li>
          </ul>
          <p class="text-logo-blue lead">
            MKG Law will work to get to the essence of your Real Estate
            transaction and focus on important issues. I will make sure the
            legal requirements are in order to achieve your objectives.
          </p>
          <p class="text-logo-blue lead">
            <a href="/contact" class="text-logo-blue"
              ><strong style="color: #ffffff">Contact our office</strong></a
            >
            to set up a free consultation. Let's get started!
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
