<template name="practices">
  <section id="practices-page">
    <div class="container my-auto">
      <div class="row">
        <div class="col-10 mx-auto">
          <h4 class="heading-font display-4 text-shadow text-center">Areas of Practice</h4>
          <hr/>
        </div>
      </div>
    </div>
  </section>

  <section id="practices-injury-law">
    <div class="container my-auto">
      <div class="row">
        <div class="col-sm-12 col-md-6 mx-auto my-4 text-center">
          <h2 class="section-heading my-5">Personal Injury Law</h2>
          <ul class="list-unstyled mt-5 d-none d-md-block">
            <li>Motor Vehicle Accidents</li>
            <li>Slip and Fall Accidents</li>
            <li>Medical Malpractice</li>
            <li>Premises Liability</li>
            <li>Animal Bites</li>
            <li>Public Transport Accident</li>
            <li>Motorcycle Accident</li>
            <li>Truck Accident</li>
            <li>Bicycle Accident</li>
            <li>Wrongful Death</li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-6 mx-auto">
          <p class="text-logo-blue lead">If you have been hurt as a result of someone else’s negligence, one of the most crucial decisions you will make is choosing the right legal representative. These cases take years to fight. You are entrusting the security of your future with the lawyer you hire. You have to feel at ease with your lawyer and not intimidated. There is only one chance to obtain compensation for the injuries or losses you have suffered. Only a skilled and experienced lawyer can effectively advocate for full compensation for your pain and suffering, income losses and medical bills that you will face in the years ahead.</p>
          <p class="text-logo-blue lead">MKG Law is committed to giving each client tailored personal injury representation. We will quickly gain your trust by providing dedicated, knowledgeable and diligent personal legal service. This includes regular meetings at convenient times and locations, prompt responses to your phone calls and emails, keeping you fully informed of the progress of your case and thoroughly preparing you for discovery.</p>
          <p class="text-logo-blue lead">You are our focus. We will attentively listen to your story, give you straightforward advice on your rights in simple terms and pursue all necessary means and strategic solutions to obtain maximum compensation to which you are entitled.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="real-estate-law">
    <div class="container my-auto">
      <div class="row">
        <div class="col-sm-12 col-md-6 mx-auto my-4 text-center">
          <h2 class="section-heading my-5">Real Estate Law</h2>
          <ul class="list-unstyled d-none d-md-block">
            <li>Residential</li>
            <li>Commercial</li>
            <li>Refinancing</li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-6">
          <p class="text-logo-blue lead">Buying or selling a home is an exciting and stressful time. MKG Law can assist you in every aspect of your purchase. Whether you are buying and/or selling a Residential Property, a Commercial property, or simply refinancing your property, MKG Law is there to help.</p>
          <p class="text-logo-blue lead">MKG Law can help with numerous matters that arise when you purchase, sell or mortgage real estate. Whether it is a residential, investment, recreational or commercial property, MKG Law is dedicated to providing our clients with excellent legal service.</p>
          <p class="text-logo-blue lead">Our Real Estate practice includes:</p>
          <ul class="text-logo-blue lead">
            <li>Buying and selling property</li>
            <li>Mortgages</li>
            <li>Refinancing</li>
            <li>Power of sale and foreclosure</li>
            <li>Commercial leasing</li>
          </ul>
          <p class="text-logo-blue lead">MKG Law will work to get to the essence of your Real Estate transaction and focus on important issues. I will make sure the legal requirements are in order to achieve your objectives.</p>
          <p class="text-logo-blue lead"><a href="/contact" class="text-logo-red">Contact our office</a> to set up a free consultation. Let's get started!</p>
        </div>
      </div>
    </div>
  </section>

  <section id="wills-law">
    <div class="container my-auto">
      <div class="row">
        <div class="col-sm-12 col-md-6 mx-auto my-4 text-center">
          <h2 class="section-heading my-5">Wills and Estates</h2>
        </div>
        <div class="col-sm-12 col-md-6">
          <p class="lead">Death is something we do not want to think about, however planning ahead can assist your loved ones when you are gone. Wills can be very basic or complicated depending on your needs. MKG Law can assist in drafting wills tailored specifically to your needs. Wills are not only for the elderly, but also for Parents with young children. Should anything happen to you, ensure your children will be taken care of and will be in the right hands.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="traffic-tickets-law">
    <div class="container my-auto">
      <div class="row">
        <div class="col-sm-12 col-md-6 mx-auto my-4 text-center">
          <h2 class="section-heading my-5">Traffic Tickets</h2>
          <ul class="list-unstyled d-none d-md-block">
            <li>Speeding Tickets</li>
            <li>Careless driving Tickets</li>
            <li>Racing or Stunt Driving</li>
            <li>Red light Tickets</li>
            <li>Stop Sign traffic tickets</li>
            <li>Driving while under supsension</li>
            <li>Insurance Violations</li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-6 mt-5 pt-2">
          <p class="lead">MKG Law is your solution for fighting traffic tickets in the GTA. We understand that every traffic ticket case is unique and individual. Because of this we offer personalized solutions for every traffic ticket cases.</p>
        </div>
      </div>
    </div>
  </section>
</template>
